streamlit
langchain
python-dotenv
ipykernel
langchain-community
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-groq
langchain_huggingface
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence_transformers
faiss-cpu
duckdb
pandas
openai
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
